@page
@model IndexModel
@{
    ViewData["Title"] = "صفحه ورود";
}

<div class="text-center">
    <h1 class="display-4">خوش آمدید</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    <p>یک صفحه ساده وب جهت تست جنکینز </p>
    <a href="/"> صفحه اصلی </a>
</div>
